*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #296647;
}

.logo{
    color: white;
    text-transform: uppercase ;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-transform: uppercase;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;

    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #296647;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.main-page{
    background-color: #bfd8c4;
    font-family: Poppins;
    /* border-style: solid;
    border-color: black;
    border-width: 5px; */
    width: 100%;
    height: 80vh;
    display: flex;
}

.main-page-container{
    width: 50%;
    height: auto;
    margin: auto;
    float: left;
    /* border: 2px solid black; */
    background-color: #bfd8c4;
    display: flex;
    text-align: center;
}

.photo-div {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 50%;
    margin-left: 50%;
    margin-right: auto;
    display: block;
}

.about-info{
    text-align: center;
}
  
.headshot {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    margin-left: -25%;
}